//Seletores
//-----------------------------------------------------
figure {
	margin: 0;
}
ul {
	margin: 0;
}

/*
	Modificações nas classes dos Foundation
 */
.reveal-modal {
	z-index: 999;
}
.reveal-modal-bg {
	z-index: 995;
}
.th {
	img {
		width: 100% !important;
	}
}
//Classes utilitárias
//-----------------------------------------------------
.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.text-up {
	text-transform: uppercase;
}

.font-body {
	font-family: 'Fjord-One' !important;
}

.font-header {
	font-family: 'LeagueGothic-Regular' !important;
	&.tag {
		font-size: 100%;
	}
}

.display-block {
	display: block;
}

.display-tb {
	display: table;
}

.display-tbc {
	display: table-cell;
	vertical-align: middle;
}

.wrapper {
	border-top: 1px solid #fff;
	padding: rem-calc(20) 0;
}

.yellow {
	color: #ffcc00;
}

.white {
	color: #fff;
}

.red {
	color: $secondary-color;
}

.color-body {
	color: $body-font-color;
}

.trs {
	@include transition;
}

.top-header {
	line-height: 0.8;
}

.mbt {
	margin-bottom: rem-calc(20);
}

.no-mbt {
	margin-bottom: 0;
}

.mtp {
	margin-top: rem-calc(20);
}

.pr {
	padding-right: rem-calc(10);
}

.pl {
	padding-left: rem-calc(10);
}

.text-except {
	font-size: rem-calc(13);
}

/*
	Classes exclusivas (módulos do template)
	-----------------------------------------------------
 */


/*
	Busca
 */
form button.postfix {
	width: 100% !important;
}

/*
	alinha icone com o texto
 */
.hack-icon {
	float: left;
	margin: rem-calc(2) rem-calc(5) 0 0;
}

/*
	linha horizontal
 */
.hl {
	@extend .left;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #fff;
}

/*
	mobile menu
 */
.off-canvas-wrap {
	overflow: auto;
	overflow-x: hidden;
}
.right-off-canvas-menu {
	display: none;
}

/*
	Publicidades
 */
.ads {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
	&.float {
		padding-top: rem-calc(0);
		padding-bottom: rem-calc(0);
	}
}

.ads-in-left {
	padding-left: rem-calc(20);
}

/*
	Módulo box de conteúdo
 */
.box-content {
	padding-left: rem-calc(10);

	h4 {	
		line-height: 1.2;
	}
}

.box-header {
	border-bottom: 1px solid $grey;
	margin-bottom: rem-calc(10);
}

.box-td {
	padding-top: rem-calc(10);
}

.box-thumb {
	margin-top: rem-calc(10);
}

.box-except {
	margin-bottom: rem-calc(5);
}

.box-list {
	border-top: 1px solid $grey;
	padding-top: rem-calc(10);

	&:hover {
		.icon-text {
			color: $yellow;
		}
	}
}

.box-in-list {
	figure {
		margin-bottom: rem-calc(10);
		border-bottom: 1px solid $grey;

		&:last-child {
			border: none;
			margin-bottom: 0;
		}
	}
}

.icon-text {
	@extend .trs;
}

.see-more {
	color: shade(#ccc,30%);
	@extend .trs;
	&:hover {
		color: shade(#ccc,60%);
	}
}