//Seletores
//-----------------------------------------------------
figure {
	margin: 0;
}
ul {
	margin: 0;
}

//Classes utilitárias
//-----------------------------------------------------
.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.text-up {
	text-transform: uppercase;
}

.font-body {
	font-family: 'Fjord-One' !important;
}

.font-header {
	font-family: 'LeagueGothic-Regular' !important;
	&.tag {
		font-size: 100%;
	}
}

.display-block {
	display: block;
}

.wrapper {
	border-top: 1px solid #fff;
	padding: rem-calc(20) 0;
}

.yellow {
	color: #ffcc00;
}

.white {
	color: #fff;
}

.red {
	color: $secondary-color;
}

.color-body {
	color: $body-font-color;
}

.trs {
	@include transition;
}

.top-header {
	line-height: 0.8;
}

.mbt {
	margin-bottom: rem-calc(20);
}

.mtp {
	margin-top: rem-calc(20);
}

/*
	Classes exclusivas (módulos do template)
	-----------------------------------------------------
 */
.box-header {
	border-bottom: 1px solid $grey;
	margin-bottom: rem-calc(10);
}

form button.postfix {
	width: 100% !important;
}

/*
	alinha icone com o texto
 */
.hack-icon {
	float: left;
	margin: rem-calc(2) rem-calc(5) 0 0;
}

/*
	linha horizontal
 */
.hl {
	@extend .left;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #fff;
}

/*
	mobile menu
 */
.off-canvas-wrap {
	overflow: auto;
	overflow-x: hidden;
}
.right-off-canvas-menu {
	display: none;
}

/*
	Publicidades
 */
.ads {
	padding: rem-calc(20) 0;
	&.float {
		margin: 0 rem-calc(10);
	}
}

.ads-in-left {
	padding-left: rem-calc(20);
}

/*
	Módulo box de conteúdo
 */
.box-content {
	padding-left: rem-calc(10);

	h4 {	
		line-height: 1.2;
	}
}

.box-td {
	padding-top: rem-calc(10);
}

.box-thumb {
	border: 2px solid $grey;
}

.box-except {
	margin-bottom: rem-calc(5);
}