//Seletores
//-----------------------------------------------------
figure {
	margin: 0;
}

//Classes utilitárias
//-----------------------------------------------------
.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.text-up {
	text-transform: uppercase;
}

.font-body {
	font-family: 'Fjord-One' !important;
}

.font-body {
	font-family: 'Fjord-One' !important;
}

.font-header {
	font-family: 'LeagueGothic-Regular' !important;
}

.display-block {
	display: block;
}

.wrapper {
	border-top: 1px solid #fff;
	padding: rem-calc(20) 0;
}

.yellow {
	color: #ffcc00;
}

.white {
	color: #fff;
}

.trs {
	@include transition;
}