@media #{$small-only} {
	.icon-logo-small {
		margin: 0 auto;
	}

	/*
	 	Slide destaques
	 */
	.slide-img {
		img {
			width: 100%;
			height: auto;
		}
	}

	.slide-content {
		height: auto;
		figure {
			max-height: rem-calc(300);
		}
		figcaption {
			background-color: rgba($primary-color,1);
		}
	}

	.nav-slides {
		top: 25%;
	}

	//muda cor do link de comentários
	.small-grey {
		a {
			color: $body-font-color;
		}
	}

	//padding lateral
	.small-ads-left {
		padding-left: rem-calc(20);
	}

	/*
		Galeria de fotos
	 */
	.foto-thumb {
		figcaption {
			padding-top: 0 !important;
		}
	}
}

@media #{$medium-only} {
	.row {
		width: rem-calc(800) !important;
		min-width: rem-calc(800) !important;
		max-width: rem-calc(800) !important;
	}
	.icon-logo {
		margin: 0 auto;
	}

	/*
		Form search
	 */
	button.postfix {
		width: 83% !important;
	}

	/*
	 	Slide destaques
	 */
	.slide-img {
		img {
			width: 100%;
			height: auto;
		}
	}

	.slide-content {
		figcaption {
			background-color: rgba($primary-color,1);
		}
	}
}

@media #{$large-up} {
	.row {
		width: rem-calc(1280) !important;
		min-width: rem-calc(1280) !important;
		max-width: rem-calc(1280) !important;
	}
}