@media #{$small-only} {
	.icon-logo-small {
		margin: 0 auto;
	}

	/*
	 	Slide destaques
	 */
	a.slide-img {
		img {
			width: 100%;
			height: auto;
		}
	}

	.slide-content {
		height: auto;
		figure {
			max-height: rem-calc(300);
		}
		figcaption {
			background-color: rgba($primary-color,1);
		}
	}

	.nav-slides {
		top: 25%;
	}

	//muda cor do link de comentários
	.small-grey {
		a {
			color: $body-font-color;
		}
	}

	//padding lateral
	.small-ads-left {
		padding-left: rem-calc(20);
	}

	/*
		Galeria de fotos
	 */
	.foto-thumb {
		figcaption {
			padding-top: 0 !important;
		}
	}

	/*
		Posts
	 */
	.post-content {
		.alignleft, .alignright {
			display: none;
		}
		.aligncenter {
			width: 100%;
			float: left;
		}
	}

	/*
		Slide de mensagens
	 */
	.list-msg {
		li {
			width: rem-calc(160);
			height: rem-calc(150);
		}
	}

	/*
		Blog
	 */
	.post-blog, .blog-thumb {
		height: auto;
	}

	.blog-top {
		height: rem-calc(90);
		border-bottom: 42px solid $primary-color;
	}

	.blog-title, .blog-slogan {
		margin-left: rem-calc(20);
	}
	
	/*
		Videos
	 */
	.last-video {
		iframe, object, video {
			height: rem-calc(250);
		}
	}
}

@media #{$medium-only} {
	.row {
		width: rem-calc(800) !important;
		min-width: rem-calc(800) !important;
		max-width: rem-calc(800) !important;
	}
	.icon-logo {
		margin: 0 auto;
	}

	//padding lateral
	.medium-ads-left {
		padding-left: rem-calc(20);
	}

	/*
		Form search
	 */
	button.postfix {
		width: 83% !important;
	}

	/*
	 	Slide destaques
	 */
	.slide-img {
		img {
			width: 100%;
			height: auto;
		}
	}

	.slide-content {
		figcaption {
			background-color: rgba($primary-color,1);
		}
	}

	/*
		Slide mais recentes
	 */
	.last-news {
		.cycle-sentinel {
			min-height: rem-calc(310);
		}
	}

	/*
		Slide de mensagens
	 */
	.list-msg {
		li {
			width: rem-calc(260);
			height: rem-calc(180);
		}
	}

	/*
		Blog
	 */
	.blog-title {
		font-size: rem-calc(100);
		margin-left: rem-calc(40);
	}
	.blog-slogan {
		margin-left: rem-calc(40);
	}

	.post-blog, .blog-thumb {
		height: rem-calc(297);
		overflow: hidden;
	}

}

@media #{$large-up} {
	.row {
		width: rem-calc(1280) !important;
		min-width: rem-calc(1280) !important;
		max-width: rem-calc(1280) !important;
	}
	
	/*
		Slide destaques
	 */
	a.slide-img {
		height: 100%;
		img {
			height: 100%;
			width: auto;
		}
	}

	/*
		Slide mais recentes
	 */
	.last-news {
		.cycle-sentinel {
			min-height: rem-calc(310);
		}
	}

	/*
		Blog
	 */
	.blog-title {
		font-size: rem-calc(100);
		margin-left: rem-calc(40);
	}
	.blog-slogan {
		margin-left: rem-calc(40);
	}
	.post-blog, .blog-thumb {
		height: rem-calc(297);
		overflow: hidden;
	}

}