@media #{$small-only} {
	.icon-logo-small {
		margin: 0 auto;
	}
}

@media #{$medium-only} {
	.icon-logo {
		margin: 0 auto;
	}
}

@media #{$large-up} {
	.row {
		width: rem-calc(1280) !important;
		min-width: rem-calc(1280) !important;
		max-width: rem-calc(1280) !important;
	}
}