/*
	Category
 */
.cat-title {
	margin-bottom: rem-calc(30);
}

/*
	Blog
 */
.blog-top {
	height: rem-calc(225);
	@extend .rel;
	border-bottom: 100px solid $primary-color;
}

.blog-title,.blog-slogan {
	display: inline-block;
}

.post-blog {
	
	&:hover {
		figcaption {
			bottom: 0;
		}
	}

	img {
		width: 100%;
	}

	figcaption {
		@extend .trs;
		padding: rem-calc(10);
		background-color: $primary-color;
		bottom: -100%;

		a {
			color: #fff;

			&:hover {
				color: $yellow;
			}
		}
	}
}

.blog-top-single {
	height: rem-calc(90);
	border-bottom: 42px solid $primary-color;

	h1 {
		line-height: 1.2;
		margin-bottom: 0 !important;
	}

	h3 {
		line-height: 0;
	}
}

.blog-title-single, .blog-slogan-single {
	margin-left: rem-calc(20) !important;
}

//Videos
.last-video {
	padding-bottom: rem-calc(20);
	background-color: #333;
	margin-bottom:  rem-calc(20);
	border-bottom: 10px solid #e3e3e3;

	iframe, object, video {
		width: 100%;
		height: rem-calc(460);
	}

	figcaption {
		padding: rem-calc(10);
		background-color: #000;
		margin-bottom: rem-calc(20);
	}

	h4 {
		color: #fff;
		margin: 0;
	}
}

/*
	Radios
 */
.radios-wrap {
	@include background-image(linear-gradient(left top, white, #dddddd));
	
	figure {
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(20);
	}
}

	

